.beauty{
    background: url('../../../images/bg-2.jpg') no-repeat center;
    background-size: cover;
    /* height: 500px; */
    position: relative;
    z-index: 9;
}
.beauty::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}
.style h2 a{
    text-decoration: none;
}