.contact-container{
    background: url('../../../images/bg-1.jpg') no-repeat center;
    background-size: cover;
    height: 650px;
    position: relative;
    z-index: 9;
}
.contact-container::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
}
.design input{
    width: 100%;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}
.design textarea{
    width: 100%;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
}
.design span{
    color: red;
}